<div class="rating-container">
    <div class='Left'>
        <a class="videogame-link" href="/videogames/{{id1}}">{{name1}}</a>
        <img class='LeftImage' src='{{image1}}' alt="{{name1}}"/>
        <p id='ReleaseL'>{{release1}}</p>
        <p id='genreL'>{{genre1}}</p>
        <p id='priceL'>{{price1}}</p>
        <p id='developerL'>{{developer1}}</p>
    </div>

    <div class='Right'>
        <a class="videogame-link" href="/videogames/{{id2}}">{{name2}}</a>
        <img class='RightImage' src='{{image2}}' alt="{{name2}}"/>
        <p id='ReleaseR'>{{release2}}</p>
        <p id='genreR'>{{genre2}}</p>
        <p id='pricRe'>{{price2}}</p>
        <p id='developerR'>{{developer2}}</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous">
    </script>
<script src="../../public/js/rating.js"></script>